@model CB180936_AR172433_DESAFIO01.Models.Transacciones

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar Regisro</h2>

<h3>¿estas seguro de borrar este registro?</h3>
<div>
    <h4>Transacciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaTransaccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTransaccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAplicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAplicacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="borrar" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
